__pycache__/scheduler.cpython-36.pyc
__pycache__/module.cpython-36.pyc
__pycache__/module.cpython-36.pyc
__pycache__/ReaderWriter.cpython-36.pyc
__pycache__/timetable.cpython-36.pyc
__pycache__/tutor.cpython-36.pyc

.vscode/settings.json
__pycache__/scheduler.cpython-36.pyc
